.node-cursus {
    font-size: 1.1em;
    .field-label-above {

        margin-bottom: 2em;
        .field-label {
            text-transform: uppercase;
            color: #808080;
            font-family: Montserrat;
            font-weight: bold;
            @include rem(1);
             margin-bottom: 0.25em;
        }
    }
    .field-name-field-in-samenwerking-met{
        .field-label {
            
            @include rem(0.8)
        }
    }
}