.view-listview .field-item {
    text-align: center;
}

.field-collection-item-field-docent-collection {
    img {
        float: left;
        margin: 0 1em 1em 0;
    }
}

.field-name-field-foto-docent {
    margin-right: 1em;
}

.view-list-cursus,
.view-list-article,
{
    .views-row {
        margin-bottom: 2em;
        padding: 1em;
        border-left: 1px solid $main-brand-color;
        background: white;
        box-shadow: 0 1px 31px rgba(0, 0, 0, 0.05);
        @include respond-to("desktop") {
            padding: 2em;
        }
        .label-type {
            float: right;
            color: $medium-gray;
        }
        &.Article {
            .views-field-title {
                a {
                    //@extend .h2;
                    text-decoration: none;
                }
            }
            .blokje,
            .views-label,
            .views-field-view-node {
                display: none;
            }
        }
        &.Cursus {
            .read-more {
                display: none;
            }
        }
    }
    .views-field-field-docent,
    .views-field-field-datum,
    .views-field-field-accreditatie,
    .views-field-view-node {
        padding: 0!important;
        .views-label {
            display: block;
            font-family: $header-font;
            font-weight: 400;
            color: gray;
            font-size: 0.8em;
            &.views-label-view-node {
                visibility: hidden;
            }
        }
        .blokje {
            background: #FAFAFA;
            border-left: 1px solid rgb(213, 212, 212);
            padding: 0.65em 2em;
            display: block;
            font-family: $header-font;
            font-size: 0.8em;
            font-weight: 400;
            color: black;
            text-transform: uppercase;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            @include respond-to('desktop') {}
            * {
                font-weight: 400;
                text-transform: uppercase;
                font-family: $header-font;
            }
            &.inverse {
                background-color: $main-brand-color;
                padding: 0;
                a {
                    color: white;
                    padding: 0.65em 2em;
                    display: block;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
    }
    .views-field-title {
        font-size: 1.5em;
        margin: 1em 0;
        line-height: 1;
        a {
            color: #111;
            font-family: $header-font;
        }
    }
    .views-field-body {
        margin-bottom: 2em;
    }
    .views-field-field-image {
        @include respond-to("desktop") {
            float: left;
            margin: 0 1em 1em 0;
            max-width: 50%;
        }
    }
}

.view-list-content,
.view-list-cursus-compact,
.view-nav-list-cursus,
.view-nav-list-article {
    padding: 0 1em;
    img {
        margin-bottom: 0.5em;
    }
    .views-row {
        margin-bottom: 2em;
        border-bottom: 1px solid #DCDCDC;
    }
    .views-field-title {
        margin-bottom: 0;
        display: block;
        font-size: 1.25em;
        border: none;
        &:after {
            content: '';
            display: block;
            float: right;
            margin-left: 0px;
            margin-top: 0px;
            width: 30px;
            height: 30px;
            background: url(../images/acadamy-favicon.png) no-repeat;
            background-size: 30px 30px;
        }
    }
    .read-more {
        margin-top: 1em;
        text-align: right;
        display: block;
    }
    .blokje {
        @include respond-to('desktop') {}
        * {
            font-weight: 400;
            text-transform: uppercase;
            font-family: $header-font;
            font-size: 0.875em;
        }
        &.inverse {
            background-color: $main-brand-color;
            padding: 0;
            a {
                color: white;
                padding: 0.65em 2em;
                display: block;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}

.view-nav-list-cursus ,
.view-nav-list-article{
    .col {
          background: #FFF;
  padding: 10px 30px;
  border-left: 3px solid $light-gray;
  box-shadow: 0 0 2px rgba(0,0,0,0.1)
    }
    .views-field-title {
        line-height: 1;
      min-height: 2.5em;
        &:after {
           
            margin-top: 0.5em;
            
        }
    }
}






