@import "_settings.scss";
.groen {
    background-color: $main-brand-color;
    ;
}

.text-groen {
    color: $main-brand-color;
    ;
}

.uppercase-title {
    text-transform: uppercase;
    color: #808080;
    font-family: montserrat,sans-serif;
    font-weight: bold;
    font-size: 16px;
    font-size: 1rem;
}