@charset "UTF-8";

$blue:#559FF8;

$green:rgb(141, 198, 63) !default;


$orange:#fe940a !default;
$red:#8f192f !default;

$white:#ffffff !default;
$light-gray:#eeeadf !default;
$medium-gray: #A8AAAD !default;
$gray:#a3a3a3 !default;
$dark-gray:#4e4d4a !default;
$black:#2d2d2d;



