body {
    background: #fafafa;
    font-size: 16px;
}

* {
    font-family: $body-font;
    font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $header-font;
}

h1,
.h1 {
    font-weight: 700;
}

.h2 {
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block;
    padding-right: 2em;
    padding-bottom: 0.5em;
    margin-left: 25px;
    padding-left: 0.5em;
    text-transform: uppercase;
    border-bottom: 2px solid $main-brand-color;
    &:before {
        content: '';
        display: inline-block;
        float: left;
        margin-left: -50px;
        margin-top: -25px;
        width: 50px;
        height: 50px;
        background: url(../images/acadamy-favicon.png) no-repeat;
        background-size: 50px 50px;
    }
}

a {
    color: $main-brand-color;
}

img {
    max-width: 100%;
    height: auto;
}

.page-node {
    .node-article {
        .field-name-field-image img {
            width: 100%;
        }
    }
    .node-page {
        .links.list-inline {
            display: none;
        }
    }
}

.jumbotron,
.well {
    background: #ffffff;
}

.well {
    border: none;
}

.field-item img {
    max-width: 100%;
    height: auto;
}

.col-sm-12 {
    //background: rgba(250, 250, 250, 0.97);
}

.container {
    @include respond-to('desktop') {
        width: 84%;
    }
}

.page-header {
    padding-top: 40px;
}

.region-highlighted .field-content img {
    max-width: 100%;
    height: auto;
}

.fullwidth {
    height: 450px;
    overflow: hidden;
    //position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: url("../images/meeting.014-with-icon.jpg")no-repeat;
    background-size: cover;
    background-position: top center;
    border-bottom: 5px solid $main-brand-color;
    .image-block-content {
        max-width: 960px;
        color: white;
        margin: 3em 1em 5em 1em;
        @include respond-to('desktop') {
            margin: 10em auto 5em auto;
        }
        h1 {
            color: white;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
            span {
                font-weight: 700;
            }
        }
        p {
            color: white;
        }
    }
}

.fullwidth img {
    max-width: 100%;
    height: auto;
}

.not-front {
    &.page-node {
        &.node-type-cursus, &.node-type-article, &.page-node-12, &.node-type-page {
            .fullwidth {
                height: 200px;
                background: url("../images/meeting.014-with-icon-narrow-blocked.jpg")no-repeat;
                background-size: cover;
                background-position: 100%;
                h1 {
                    display: none;
                }
            }
        }
    }
}

.bg-white {
    background: white;
}

.padder {
    padding: 1em;
}

.super-size {
    font-size: 100px;
}

.text-merk-kleur {
    color: $main-brand-color;
}

.webform-submit {
    margin-top: 1em;
    background: $main-brand-color;
    color: white;
    font-weight: bold;
    padding: 0.5em 2em;
}

aside,
{
    .block-webform {
        background: rgb(255, 255, 255);
        padding: 1em;
        margin-top: 3em;
        h2 {
            font-size: 1em;
            color: gray;
        }
    }
}

.webform-client-form {
    background: rgb(255, 255, 255);
    padding: 2em 1em;
    margin: 0 -1em 1em -1em;
    float: none;
    @include respond-to(desktop) {
        padding: 2em;
        margin: 0 0 3em 3em;
        float: right;
    }
    .email {
        display: block;
    }
    h2 {
        font-size: 1em;
        color: gray;
        margin-left: 3em;
        @include respond-to(desktop) {
            margin-left: 25px;
        }
    }
}
.form-item.webform-component {
  margin-bottom: 0.5em;
}

.node-type-webform {
    .webform-client-form {
        @include respond-to(desktop) {
            padding: 2em;
            margin: 0;
            float: none;
        }
    }
}

.groen {
    background-color: $main-brand-color;
    ;
}

.text-groen {
    color: $main-brand-color;
    ;
}

.field-collection-item-field-docent-collection {
    img {
        float: left;
        margin: 0 1em 1em 0;
    }
}

.navbar-default {
    background: white;
}

.navbar-header {
    img {
        max-width: 120px;
    }
}

.navbar-default {
    .navbar-nav {
        >li {
            >a {
                padding: 10px 1em;
                color: $main-brand-color !important;
                font-weight: bold;
                font-size: 1.1em;
                margin: 0 0.5em;
                @include respond-to('tablet') {
                    padding: 39px 1em;
                }
            }
            &.active {
                >a {
                    background-color: rgba(0, 0, 0, 0.05);
                    @include respond-to('tablet') {
                        background-color: transparent;
                        border-bottom: 3px solid $main-brand-color;
                    }
                }
            }
        }
    }
}

.navbar-nav {
    @include respond-to('desktop') {
        margin-left: 4em;
    }
}

.node-teaser {
    h2 {
        a {
            color: #252525;
            &:hover {
                text-decoration: none;
            }
            ;
        }
    }
}

.field-name-field-foto-docent {
    margin-right: 1em;
}

.docent-wrapper {
    width: 100%;
    clear: both;
    margin-bottom: 2em;
    //color: white;
    .docent-name {
        display: block;
        margin-bottom: 0.5em;
    }
}

.field-name-field-docent {
    background: #F4F4F4;
    padding: 1em;
    max-width: 100%;
    text-align: center;
    @include respond-to('desktop') {
        //max-width: 60%;
        text-align: left;
    }
}

.block-webform {}

.node-article {
    &.node-teaser {
        text-align: center;
        margin-bottom: 2em;
        border-bottom: 1px solid #DCDCDC;
        h2 {
            margin-bottom: 0;
            @extend .h2;
            &:before {
                margin-left: -25px;
            }
            text-align: center;
            display: inline-block;
            font-size: 2em;
            border: none;
        }
        .submitted {
            font-size: 0.8em;
        }
        .comment_forbidden,
        .comment-add {
            display: none;
        }
        .translation_en,
        .translation_nl {
            display: none;
        }
    }
}

.region-sidebar-second {
    .node-article {
        &.node-teaser {
            text-align: center;
            margin-bottom: 2em;
            h2 {
                font-size: 1.25em;
            }
            .submitted {
                font-size: 0.8em;
            }
            .comment_forbidden,
            .comment-add {
                display: none;
            }
        }
    }
}

.contact-entry {
    float: left;
    margin: 1em 8em 3em 0;
    strong {
        margin-bottom: 0.5em;
        display: inline-block;
    }
}

.navigation {
    .menu {
        li {
            margin: 0 0.5em;
        }
    }
}

dl,
menu,
ol,
ul {
    list-style-position: inside;
}

.text-gray {
    color: $medium-gray;
}

ul.social {
    list-style: none;
    float: right;
    text-align: center;
    margin-top: 0;
    li {
        display: inline;
        a {
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: darken($main-brand-color, 10%);
            }
        }
    }
    .header-label {
        display: block;
        color: black;
        margin-bottom: 1em;
    }
    .fa-stack {
        //this is a visual tweek
        line-height: 2.1;
    }
}

.region-footer {
    .block-block {
        max-width: 80%;
    }
}

.region-sidebar-second {
    .submitted {
        display: none;
    }
}

.field-name-field-in-samenwerking-met {
    background: #FFF;
    padding: 2em;
    margin-top: 2em;
    .field-items {
        .field-item {
            display: inline-block;
            margin-right: 2em;
            img {
                max-width: 8em;
            }
        }
    }
}

.uppercase-title {
    text-transform: uppercase;
    color: #808080;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    font-size: 16px;
    font-size: 1rem;
}

#block-locale-language {
    .block-title {
        display: none;
    }
    position: absolute;
    right: 5em;
    top: 0;
    @include respond-to('tablet') {
        right: 1em;
    }
    ul li {
        display: inline;
        a {
            padding: 5px;
            border-radius: 6px;
            font-weight: bold;
        }
        &.active {
            a {
                color: #FFF;
                background: $medium-gray;
            }
        }
    }
}

.availabilities {
    margin-bottom: 1em;
    text-align: right;
}

.toast {
    color: #FFF;
    background: #4A4A4A;
    font-size: 1.5em;
    text-align: left;
    a {
        display: block;
        padding: 1em;
        text-decoration: none;
        &:active, &:visited {
            color: $main-brand-color;
            text-decoration: none;
        }
        ;
        &:hover {
            color: #FFF;
            text-decoration: none;
        }
        ;
    }
    .toast-title {
        color: #FFF;
    }
}