@charset "UTF-8";
/*------------------------------------*\
    $SETTINGS
\*------------------------------------*/
/**
 * Set up project-specific variables here which are then used throughout your
 * build.
 */

/**
 * Base stuff
 */
$font-size-small:    13px!default;
$font-size-base:    16px!default;

/**
 * Brand stuff */

$color-primary:    	$green!default;
$color-secondary:	$red!default;
$color-tertiary: 	$light-gray!default;
$color-text:     	$black!default;

$serif-font-primary: 'Cambria', 'Georgia', serif!default;
$sans-font-primary: 'Helvetica', 'Arial', 'Verdana', sans-serif!default;

$body-font : "myriad-pro", sans-serif;
$header-font : montserrat, sans-serif;
$main-brand-color : $green;

$face-h1:    $sans-font-primary!default;
$face-h2:    $sans-font-primary!default;
$face-h3:    $sans-font-primary!default;

/**
 * Background color, boxes, ....
 */
$background-color-body: $color-tertiary!default;
$background-color-header: $color-primary!default;
$background-color-box: $white!default;

$border-color: $light-gray;
$highlight-color: tint( $color-primary, 95%)!default;
$placeholder-color: $gray!default;

$error-color: darken(red,5%);

$link-color: $color-primary!default;
$link-hover-color: shade( $color-primary,10)!default;

/**
 * Responsive stuff
 */
$break-very-small: 20em!default; // 320 @ 16px
$break-small: 30em!default; // 480 @ 16px
$break-small-medium: 40em!default; // 640 @ 16px
$break-medium: 50em!default; // 800 @ 16px
$break-medium-large: 60em!default; // 960 @ 16px
$break-large: 70em!default; // 1120 @ 16px
$break-very-large: 80em!default; // 1280 @ 16px

$break-mobile: 0!default; /* No media query since this is the default */
$break-tablet: $break-small-medium!default; //  640 @ 16px
$break-desktop: $break-medium-large!default; // 960 @ 16px

/**
 * How big would you like round corners to be by default?
 */
$border-radius-small:	   3px!default;
$border-radius-base:       4px!default;
$border-radius-large:      8px!default;
