//
// table
//
.m-table{
  display: table;
  -dt-display: table;
  table-layout: fixed;
  width: 100%;

  .m-table__row{
    display:table-row;
    -dt-display:table-row;
  }

  .m-table__column{
    display:table-cell;
    -dt-display: table-cell;
  }

}
