@charset "UTF-8";
/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Sizes in human readable format. These are used in conjunction with other
 * objects and abstractions found in inuit.css, most commonly the grid system
 * and faux flexbox.
 *
 * We have a mixin to generate our widths and their breakpoint-specific
 * variations.
 */
.grid__item{
  max-width: 100%;
  &.one-whole{
    max-width: 100%;
  }

}
@mixin grid-setup($namespace: "") {

  $respondto-namespace: $namespace;

  @if $namespace !=  "" {
    $namespace: $namespace + "-";
  }

  /**
  * Whole
  */
  .#{$namespace}one-whole         { @if $namespace == "" { width: 100% !important; } @include respond-to( $respondto-namespace ) { width:100% !important; } }

  /**
  * Halves
  */
  .#{$namespace}one-half          { @if $namespace == "" { width: 50% !important; } @include respond-to( $respondto-namespace ) { width:50% !important; } }

  /**
  * Thirds
  */
  .#{$namespace}one-third         { @if $namespace == "" { width: 33.333% !important; } @include respond-to( $respondto-namespace ) { width:33.333% !important; } }
  .#{$namespace}two-thirds        { @if $namespace == "" { width: 66.666% !important; } @include respond-to( $respondto-namespace ) { width:66.666% !important; } }

  /**
  * Quarters
  */
  .#{$namespace}one-quarter       { @if $namespace == "" { width: 25% !important; } @include respond-to( $respondto-namespace ) { width:25% !important; } }
  .#{$namespace}two-quarters      { @if $namespace == "" { width: 50% !important; } @include respond-to( $respondto-namespace ) { width:50% !important; } }
  .#{$namespace}three-quarters    { @if $namespace == "" { width: 75% !important; } @include respond-to( $respondto-namespace ) { width:75% !important; } }

  /**
  * Fifths
  */
  .#{$namespace}one-fifth         { @if $namespace == "" { width: 20% !important; } @include respond-to( $respondto-namespace ) { width:20% !important; } }
  .#{$namespace}two-fifths        { @if $namespace == "" { width: 40% !important; } @include respond-to( $respondto-namespace ) { width:40% !important; } }
  .#{$namespace}three-fifths      { @if $namespace == "" { width: 60% !important; } @include respond-to( $respondto-namespace ) { width:60% !important; } }
  .#{$namespace}four-fifths       { @if $namespace == "" { width: 80% !important; } @include respond-to( $respondto-namespace ) { width:80% !important; } }

  /**
  * Sixths
  */
  .#{$namespace}one-sixth         { @if $namespace == "" { width: 16.666% !important; } @include respond-to( $respondto-namespace ) { width:16.666% !important; } }
  .#{$namespace}two-sixths        { @if $namespace == "" { width: 33.333% !important; } @include respond-to( $respondto-namespace ) { width:33.333% !important; } }
  .#{$namespace}three-sixths      { @if $namespace == "" { width: 50% !important; } @include respond-to( $respondto-namespace ) { width:50% !important; } }
  .#{$namespace}four-sixths       { @if $namespace == "" { width: 66.666% !important; } @include respond-to( $respondto-namespace ) { width:66.666% !important; } }
  .#{$namespace}five-sixths       { @if $namespace == "" { width: 83.333% !important; } @include respond-to( $respondto-namespace ) { width:83.333% !important; } }

  /**
  * Eighths
  */
  .#{$namespace}one-eighth        { @if $namespace == "" { width: 12.5% !important; } @include respond-to( $respondto-namespace ) { width:12.5% !important; } }
  .#{$namespace}two-eighths       { @if $namespace == "" { width: 25% !important; } @include respond-to( $respondto-namespace ) { width:25% !important; } }
  .#{$namespace}three-eighths     { @if $namespace == "" { width: 37.5% !important; } @include respond-to( $respondto-namespace ) { width:37.5%!important; } }
  .#{$namespace}four-eighths      { @if $namespace == "" { width: 50% !important; } @include respond-to( $respondto-namespace ) { width:50% !important; } }
  .#{$namespace}five-eighths      { @if $namespace == "" { width: 62.5% !important; } @include respond-to( $respondto-namespace ) { width:62.5%!important; } }
  .#{$namespace}six-eighths       { @if $namespace == "" { width: 75% !important; } @include respond-to( $respondto-namespace ) { width:75% !important; } }
  .#{$namespace}seven-eighths     { @if $namespace == "" { width: 87.5% !important; } @include respond-to( $respondto-namespace ) { width:87.5% !important; } }

  /**
* Ninths
*/
  .#{$namespace}one-ninth        { @if $namespace == "" { width: 11.1111% !important; } @include respond-to( $respondto-namespace ) { width:11.1111% !important; } }
  .#{$namespace}two-ninths        { @if $namespace == "" { width: 22.2222% !important; } @include respond-to( $respondto-namespace ) { width:22.2222% !important; } }
  .#{$namespace}three-ninths     { @if $namespace == "" { width: 33.3333% !important; } @include respond-to( $respondto-namespace ) { width:33.3333% !important; } }
  .#{$namespace}four-ninths      { @if $namespace == "" { width: 44.4444% !important; } @include respond-to( $respondto-namespace ) { width:44.4444% !important; } }
  .#{$namespace}five-ninths      { @if $namespace == "" { width: 55.5555% !important; } @include respond-to( $respondto-namespace ) { width:55.5555% !important; } }
  .#{$namespace}six-ninths       { @if $namespace == "" { width: 66.6666% !important; } @include respond-to( $respondto-namespace ) { width:66.6666% !important; } }
  .#{$namespace}seven-ninths    { @if $namespace == "" { width: 77.7777% !important; } @include respond-to( $respondto-namespace ) { width:77.7777% !important; } }
  #{$namespace}eight-ninths    { @if $namespace == "" { width: 88.88888% !important; } @include respond-to( $respondto-namespace ) { width:88.88888% !important; } }

  /**
  * Tenths
  */
  .#{$namespace}one-tenth         { @if $namespace == "" { width: 10% !important; } @include respond-to( $respondto-namespace ) { width:10% !important; } }
  .#{$namespace}two-tenths        { @if $namespace == "" { width: 20% !important; } @include respond-to( $respondto-namespace ) { width:20% !important; } }
  .#{$namespace}three-tenths      { @if $namespace == "" { width: 30% !important; } @include respond-to( $respondto-namespace ) { width:30% !important; } }
  .#{$namespace}four-tenths       { @if $namespace == "" { width: 40% !important; } @include respond-to( $respondto-namespace ) { width:40% !important; } }
  .#{$namespace}five-tenths       { @if $namespace == "" { width: 50% !important; } @include respond-to( $respondto-namespace ) { width:50% !important; } }
  .#{$namespace}six-tenths        { @if $namespace == "" { width: 60% !important; } @include respond-to( $respondto-namespace ) { width:60% !important; } }
  .#{$namespace}seven-tenths      { @if $namespace == "" { width: 70% !important; } @include respond-to( $respondto-namespace ) { width:70% !important; } }
  .#{$namespace}eight-tenths      { @if $namespace == "" { width: 80% !important; } @include respond-to( $respondto-namespace ) { width:80% !important; } }
  .#{$namespace}nine-tenths       { @if $namespace == "" { width: 90% !important; } @include respond-to( $respondto-namespace ) { width:90% !important; } }

  /**
  * Twelfths
  */
  .#{$namespace}one-twelfth       { @if $namespace == "" { width: 8.333% !important; } @include respond-to( $respondto-namespace ) { width:8.333% !important; } }
  .#{$namespace}two-twelfths      { @if $namespace == "" { width: 16.666% !important; } @include respond-to( $respondto-namespace ) { width:16.666% !important; } }
  .#{$namespace}three-twelfths    { @if $namespace == "" { width: 25% !important; } @include respond-to( $respondto-namespace ) { width:25% !important; } }
  .#{$namespace}four-twelfths     { @if $namespace == "" { width: 33.333% !important; } @include respond-to( $respondto-namespace ) { width:33.333% !important; } }
  .#{$namespace}five-twelfths     { @if $namespace == "" { width: 41.666% !important; } @include respond-to( $respondto-namespace ) { width:41.666% !important; } }
  .#{$namespace}six-twelfths      { @if $namespace == "" { width: 50% !important; } @include respond-to( $respondto-namespace ) { width:50% !important; } }
  .#{$namespace}seven-twelfths    { @if $namespace == "" { width: 58.333% !important; } @include respond-to( $respondto-namespace ) { width:58.333% !important; } }
  .#{$namespace}eight-twelfths    { @if $namespace == "" { width: 66.666% !important; } @include respond-to( $respondto-namespace ) { width:66.6666% !important; } }
  .#{$namespace}nine-twelfths     { @if $namespace == "" { width: 75% !important; } @include respond-to( $respondto-namespace ) { width:75% !important; } }
  .#{$namespace}ten-twelfths      { @if $namespace == "" { width: 83.333% !important; } @include respond-to( $respondto-namespace ) { width:83.333% !important; } }
  .#{$namespace}eleven-twelfths   { @if $namespace == "" { width: 91.666% !important; } @include respond-to( $respondto-namespace ) { width:91.666% !important; } }

  /**
  *  Weird numbers
  */
  .#{$namespace}one-fourth-of-three-fourth { @if $namespace == "" { width: 18.75% !important; } @include respond-to( $respondto-namespace ) { width: 18.75% !important; } }
}

@include grid-setup();

/**
 *
 * `<div class="one-quarter  tablet-one-half desk-one-whole"> ... </div>`
 *
 * This would create a `div` that, at ‘mobile’ sizes, takes up a quarter of the
 * horizontal space, a half of that space at ‘tablet’ sizes, and goes full width
 * at ‘desktop’ sizes.
 *
 */
//@include grid-setup("small");
//@include grid-setup("medium");
//@include grid-setup("large");


