/* line 2, ../scss/ckeditor.scss */
.groen {
  background-color: #8dc63f;
}

/* line 7, ../scss/ckeditor.scss */
.text-groen {
  color: #8dc63f;
}

/* line 12, ../scss/ckeditor.scss */
.uppercase-title {
  text-transform: uppercase;
  color: #808080;
  font-family: montserrat,sans-serif;
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
}
